body {
    background-color: #FFFEFA;
    font-family: 'Nunito', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    font-size: 40px;
    color: #304039;
    margin: 20 0 0 0
}

label {
    font-weight: bold;
    color: #304039;
    font-family: 'Nunito', sans-serif;
}

span {
    font-family: 'Nunito', sans-serif;
}

.small-header {
    font-family: 'Cabin Sketch', cursive;
    font-weight: bold;
    color: #304039;
}

button {
    background-color: #5AE8AF;
    border-radius: 4px;
    text-align: center;
    color: #304039;
    font-size: 70%;
}

button:hover {
    cursor: pointer;
    background-color: #6FFF9D;
}

.image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#text-box {
    width: 100%;
}

.box-margin {
    padding: 0 0 40 0;
}


.task-button {
bottom: 50%;
position: absolute;
}

.list-group-margin {
    margin: 0 0 40 0;
}

.button-width {
    width: 100%;
}